.settings/
bin/
/lib/
/log/
.cproject
.project
.idea/
*.o
*.d
lib*.a
!/vendor/lib/*
lib*.so
.*.sw*
.*.tgz
.*DS*
*.tgz

android/common/src
android/poker/src
android/holdem/src
android/pineapple/src
android/client/src
android/include
android/lib

ios/common/src
ios/poker/src
ios/holdem/src
ios/pineapple/src
ios/client/src
ios/include
ios/lib

core
*.rdb
